.start{
    background-color: #F9F3F0;
    width: 100vw;
    height: 82vh;
    border: 1px solid #F9F3F0;
}

.navbar{
    background-color: #FFFFFF;
    width: 90vw;
    height: 4rem;
    margin-top: 3rem;
    margin-left: 5vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.home-logo{
    margin-top: 0.5rem;;
}

.navbar-links{
    display: flex;
}

.navbar-link{
    margin-left: 3rem;
}

.nav-icons{
    margin-top: 1.2rem;
}

.nav-icon{
    margin-left: 1rem;
}
.flex{
    display: flex;
}
.buttons-star{
    align-items: baseline;
}



.background-text{
    display: flex;
    justify-content: space-around;
}
.home-bg-image{
    justify-self: flex-end;
    margin-top: auto;
}
.deals{
    margin-top: 10rem;
}

.icon-text{
    /*flex-direction: column;*/
    height: 2rem;
}
.reviews-text{
    margin-left: 2.4rem;
    margin-bottom: 1rem;
}
.shop-now-button{
   text-align: center;
}
.buttons-star{
    text-align: center;
}
.category-text{
    margin-top: 0rem;
    padding-left: 1rem;
}
.category-text-tag{
    color: red;
    margin-top: 5rem;
    margin-left: 4rem;
}
.arrow-btn{
    height: 3rem;
    width: 3.5rem;
    margin-left: 0.5rem;
    border-radius: 0.7rem;
    border-color: #999EAE;
    /*margin-top: 1rem;*/
    text-align: center;
}

.flex-center-align{
    align-items: center;
}
.four-rem-margin-left{
    margin-left: 4rem;
}
.flex-justify-content-space-between{
    justify-content: space-between;
}
.flex-justify-content-space-around{
    justify-content: space-around;
}

.four-rem-margin-right{
    margin-right: 4rem;
}
.category-box{
    width: 7rem;
    height: 7rem;
    border : 1px solid black;
}
.category-box-div{
    width: calc(100vw - 8rem);
}
.dont-miss-div{
    width: calc(100vw - 8rem);
    height: 30rem;
    background-color: #F6F7FB;
    margin-top: 10em;
}
.headphone-text{
    padding-top: 4rem;
}
.color-red{
    color: red;
}
.border{
    border: 1px solid tomato;
}
.headphone-image{
    margin-top: -12rem;
    margin-left: 5%;
}
.circle{
    width: 6rem;
    height: 6rem;
    background-color: #FFFFFF;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: bottom;

}
.circular-box-text{
    text-align: end;
    height: 3px;
}

.button-component{
    background-color: #3478F0;
    border-radius: 6%;
    border-color: #3478F0;
    width: 10rem;
}
.color-white{
    color: #FFFFFF;
}
.dont-miss-div-text-circle{
    height: 12rem;
}
.check-it-now-button{
    margin-top: 100px;
}
.product-text-tag{
    color: #8C71DB;
    margin-top: 5rem;
    margin-left: 4rem;
}

.product-rectangle{
    width: 15rem;
    height: 15rem;
    background-color: #F6F7FB;

}
.flex-dir-column{
    flex-direction: column;
}
.flex-justify-content-center{
    justify-content: center;
    align-items: center;
}
.flex-align-items-center{
    align-items: center;
}
.product-details{
    width: 15rem;
}

