.start{
    background-color: #F9F3F0;
    width: 100vw;
    height: 95vh;
    border: 1px solid #F9F3F0;
}

.navbar{
    background-color: #FFFFFF;
    width: 90vw;
    height: 4rem;
    margin-top: 3rem;
    margin-left: 5vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.home-logo{
    margin-top: 0.5rem;;
}

.navbar-links{
    display: flex;
}

.navbar-link{
    margin-left: 3rem;
}

.nav-icons{
    margin-top: 1.2rem;
}

.nav-icon{
    margin-left: 1rem;
}

