.parent{
    display: flex;
}
.color{
    background-color: #F9D7D9;
    width: 33%;
    height: 50%;

}

 .logo {
     margin-top: 34px;
     margin-left: 65px;
 }

 .title {
    margin-top: 60px;
    font-weight: bolder;
    font-size: x-large;
     margin-left: 65px;
}
.color .picture{
    width: 33vw;
    height: 91vh;
}

non-color{
    /*left: 33vw;*/
    width: 67vw;
    height: 100vh;
    position: absolute;
}

.textAndButton{
    display: flex;
    position: absolute;
    right: 4vw;
}

Alread-a-member{
}

signIn{
    margin-left: 36px;

}

.form-heading{
    margin-top: 10vw;
    margin-left: 14vw;

}
.fields{

}
.text-fields{
    display: flex;
    flex-direction: column;
    margin-left: 14vw;
    margin-top: 4vw;
    justify-content: space-between;
    width: 104%;
    border-radius: 2rem;

}

input.input{
    line-height: 7vh;
}
input.Email.input {
    margin-top: 5vh;
}

.createAccount{
    margin-left: 14vw;
    margin-top: 3vw;
}
.createAccountButton {
    line-height: 6vh;
    width: 14vw;
    border-radius: 0.7rem;
}
button{
    background-color: #3576F0;
    border-color: #3576F0;
    color: white;
    font-weight: bolder;

}
@media only screen and (max-width: 991px){
    .title{
        display: none;
    }
    .picture{
        display:none;
    }
    .color{
        background-color: white;

    }
    .non-color{
        margin-left: -27vw;

    }
    .textAndButton{


    }
    .input{
        width: 40vw;
    }


}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .parent{

    }
    .textAndButton{
        right: 8vw;
    }
    .buttons{
        width: 80vw;
        margin-left: 7.8rem;
    }

}
@media only screen and (min-width: 530px) and (max-width: 768px) {
    .parent{
        background-color: tomato;
    }
    .textAndButton{
        right:10vw;

    }
    .loginSection{
        width: 100vw;
    }
}

@media only screen and (min-width: 380px) and (max-width: 530px){
    .logo{

    }
    .textAndButton{
        margin-left: 15vh ;
        display: flex;
        flex-direction: column;



    }


    .createAccountButton{
        width: 29vw;
    }
    .form-heading{
        margin-top: 43vw;
        margin-left: 15vh;
        align-items: center;
        justify-content: center;
    }
    .text-fields{
        margin-left:0;
    }

    .input{
        width:70vw;
    }
    .password{
        width:70vw !important;

    }
    .createAccountButton{
        margin-left: -14vw;
    }
}





